@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.gredient-text {
  -webkit-text-fill-color: transparent;
}

.gredient-text-black {
  background: -webkit-linear-gradient(#363636, rgba(135, 135, 135, 0.3));
  background-clip: none;
  -webkit-background-clip: text;
}

.gredient-text-blue {
  background: -webkit-linear-gradient(#5e8ca9, rgba(167, 209, 235, 0.3));
  background-clip: none;
  -webkit-background-clip: text;
}

.gredient-text-white {
  background: -webkit-linear-gradient(#c7c7c7, rgba(250, 250, 250, 0.3));
  background-clip: none;
  -webkit-background-clip: text;
}

.gredient-text-purple {
  background: -webkit-linear-gradient(#61518e, rgba(214, 203, 245, 0.3));
  background-clip: none;
  -webkit-background-clip: text;
}

.gredient-text-red {
  background: -webkit-linear-gradient(#ba4141, rgba(250, 127, 127, 0.3));
  background-clip: none;
  -webkit-background-clip: text;
}

.image-overlay {
  position: absolute;
  width: 550px;
  height: 550px;
  pointer-events: none;
  z-index: 11;
  mix-blend-mode: screen;
  -webkit-mask-image: url("/images/OPods.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url("/images/OPods.png");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.image-overlay.blue {
  background: rgba(117, 161, 189, 0.7);
}

.image-overlay.white {
  background: rgba(250, 250, 250, 0.75);
}

.image-overlay.purple {
  background: rgba(50, 31, 100, 0.7);
}

.image-overlay.red {
  background: rgba(243, 0, 0, 0.7);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ffffff, #ffffff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;

  &:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#212121, #212121);
}

.link-underline-big {
  background-size: 0 3px;

  &:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}
